<html>
<head>
<title> login page</title>
    <link rel="stylesheet" type="text/css"  href="../css/first.css" >
    <link rel="stylesheet" href="../css/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport"  content="width-device-width,initial-scale=1">
    </head>
    <style>
      *{
        box-sizing: border-box;
      }
      @media only screen and (max-width: 620px) {
      /* For mobile phones: */
      .navbar, .border, .step,.list {
        width: 100%;
      }}</style>
<body class="ll">
    <nav class="navbar navbar-expand-sm b bg-1b3783 navbar-1b3783" Style="background:#1b3783;">
        <a class="navbar-brand" href="#">
            <img src="../src/images/hulb.png" alt="Logo" style="width:40px;">
          </a>
          <a class="navbar-brand" style="color:white;" href="#">Faculty of Computer and Information</a>
          <ul class="navbar-nav">
            <li class="nav-item-expand-sm b bg-red navbar-red">
              <a class="nav-link"style="color:white;" href="../index.php">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"style="color:white;hover:white;" href="about.html">about the college</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color:white;"href="#" id="navbardrop" data-toggle="dropdown">
                departments
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="is.html">IS . department</a>
                <a class="dropdown-item" href="cs.html">CS . department</a>
                <a class="dropdown-item" href="it.html">IT . department</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;"href="step.html">Academic Programs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"style="color:white;" href="lab.html">pecificity parameter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"style="color:white;" href="contain.html">Units and centers</a>
            </li>
           </form>
          </ul>
        </nav>
<br> <br><br>
<div class="border">
<br>
            <ul id="list">
                <li> <a  class="list-item" href="../index.php" >Homepage</a></li>  
                <li> <a class="list-item"href="shap.html" >Organizational Chart</a></li>
                <li> <a class="list-item"href="name.html" >Names of its employees</a></li>
                <li> <a class="list-item"href="contain.html" >Units and centers</a></li>
</ul> 
        </div>
                <div class="step">
                    <h3>Academic Programs</h3>
                    <br>
                    <h4 >The college awards the degree:</h4>
                    <br>
                    <h5>
(1) Bachelor's degree in computers and information:
<br>
1- Bachelor of Computer Science program 
<br>
2- Bachelor of Information Systems program
<br>
3- Bachelor of Information Technology program
<br>
4- Bachelor's Program in Software Engineering (with fees)
<br><br>
(2)  Postgraduate diplomas specialized in computers and information:
<br>
1 - Diploma Program in Computer Science
 <br>
2 - Diploma in Information Systems
 <br>
3 - Information Technology Diploma Program
 <br><br>
(3)  Applied Postgraduate Diploma in Computers and Information:
<br>
1 - Diploma in Geographical Information Systems.
<br>
2 - Diploma in Medical and Bioinformatics program.
<br>
3 - Diploma in Business Information Technology.
<br><br>
(4) Master's degree in computers and information: -
<br>
1 - Master's Program in Computer Science
<br>
2 - Master's Program in Information Systems
<br>
3-Master's Program in Information Technology
<br>
4 - Master's Program in Geographical Information Systems
<br>
5 - Master's Program in Medical and Bioinformatics
<br>
6 - Master's Program in Business Information Technology
    <br><br>
(5)  Doctorate of Philosophy in Computers and Information:
<br>
1 - Ph.D. Program in Computer Science.
<br>
2 - Ph.D. program in information systems.
<br>
3 - Ph.D. Program in Information Technology
                    </h5>
                    <br><br><br>
                </div>



</body>
</html>